<style>
    a{
        text-decoration: none;
    }
</style>


<div class="list-group">
    <a href="/admin" ><div class="list-group-item">HOME</div></a>
    <a href="/addproduct" ><div class="list-group-item">ADD BLOG</div></a>
    <a href="/viewdata">  <div class="list-group-item"> VIEW BLOG</div></a>
   
 </div>